/*Intro*/
.intro{
  display: flex;
  flex-direction:row;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.pic img{
  width:250px;
  float: right;
  margin-left: 20%;
  margin-top: 20px;
  position: relative;

}
.intro p{
  display:block;
  font-family:'Muli', sans-serif;
  font-weight:400;
  color:#363636;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-right: 100px;


  }
.intro a{
  color: #67979E;
  position: relative;
  text-decoration: none;
}

.intro a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #67979E;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.intro a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.intro strong{
    font-family:'Muli', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight:400;
    color: #67979E;

  }

/* word_animation*/
  .word_animation {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: white;
    transform: translateX(-100px);
    text-align: center;
  }

  .word_animation p {
    display: inline-flex;
    text-align: center;
    vertical-align: top;
    color:#363636;
    letter-spacing: 2px;;
  }
  .word_animation p .word {
    position: absolute;
    display: flex;
    opacity: 0;
  }
  .word_animation p .word .letter {
    transform-origin: center center 25px;
  }
  .word_animation p .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
  }
  .word_animation p .word .letter.in {
    transition: 0.38s ease;
  }
  .word_animation p .word .letter.behind {
    transform: rotateX(-90deg);
  }

  .salmon {
    color: #E7968b;
  }

  .purple {
    color: #ba8cd7;
  }

  .blue {
    color: #73a9c2;
  }

  .green {
    color: #9eba83;
  }

  .yellow {
    color: #f8d568;
  }

  @media (max-width: 900px) {
    .intro{
      flex-direction: column-reverse;
    }
    .intro p{
      margin-right: 0px;
    }
    .pic img{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0px;
      width: 50%;
    }
  }
