.case_study{
  margin-top: 50px;
  font-family: 'Muli', sans-serif;
  color:#363636;
  letter-spacing: 0.8px;
  font-size: 16px;
}


.goals ul{
  margin-bottom: 30px;
  list-style-type: square;
}
.goals li{
  margin-bottom: 10px;
  line-height: 30px;
}
h4{
  margin-bottom: 8px;
  color: black;
}
.contents p{
  margin-bottom: 30px;
}
#banner{
  width: 100%;
}
.horizontal_about{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-right:20px;
  padding-left:20px;

}
.horizontal_about p{
  font-size: 13.5px;
}
.horizontal_about h4{
  font-size: 15px;
}


.duration{
  width: 20%;
  margin: 1em;
}
.team{
  width: 20%;
  margin: 1em;

}
.team p{
  text-align: left;
  margin-left: 20px;

}

.role{
  width: 20%;
  margin: 1em;
}
.tools{
  width: 20%;
  margin: 1em;
}

.contents{
  padding-right:90px;
  padding-left:90px;
}

.contents h3{
  margin-bottom: 0px;
}
.contents p{
  line-height: 30px;
  margin-top: 0px;

}
#problem{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: gray;
  margin-bottom: 30px;
}
#problem p{
  margin-bottom: 10px;
}
