.contents{
  margin-top: 30px;
  padding-right: 5%;
  padding-left: 5%;

}
.contents img{
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .contents{
    padding-left: 0px;
    padding-right: 0px;
  }
}
