.contents{
  margin-top: 30px;
  padding-right: 8%;
  padding-left: 8%;

}
.contents img{
  width: 100%;
  margin-bottom: 30px;
}

/* .pictures{
  display: flex;
  flex-direction: row;
} */
@media (max-width: 900px) {
  .contents{
    padding-left: 0px;
    padding-right: 0px;
  }
}
