.contents {
  font-family: 'Inter', sans-serif;
  color: #333333;
  letter-spacing: 0.8px;
  font-size: 15px;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 30px;
}
.container{
  margin-bottom: 80px;
}
.contents img{
  width: 100%;
}

.content_intro{
  text-align: center;
}
.content_intro h4{
  margin-top: 16px;
  margin-bottom: 3px;
}
.content_intro p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 900px) {
  .contents{
    padding-left: 0px;
    padding-right: 0px;
  }
}
