.projects {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
}

.projects h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 0px;
}

.projects h4 {
  font-size: 13px;
  font-weight: 300;
  color: gray;
  margin-top: 0px;
  margin-bottom: 0px;
}

.projects p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 25px;
  letter-spacing: .08em;
}

.hello p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
  text-align: center;
}

.hello {
  margin-bottom: 30px;
}

.title{

  margin-bottom: 20px;

}

.title p{
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
}
span.wave {
  margin-left: 5px;
  font-size: 22px;
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-12.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-12.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

.project{
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
}

.container:hover .image {
  opacity: 0.5;
}

.image {
  width: 400px;
  float: left;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-right: 60px;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



@media (max-width: 900px) {
  .projects h3 {
    margin-top: 18px;
  }

  .project {
    flex-direction: column;
  }


  .image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
