.contents {
  font-family: 'Inter', sans-serif;
  color: #333333;
  letter-spacing: 0.8px;
  font-size: 16px;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 30px;
  font-weight: 300;
}
#mockup{
  width: 100%;
}

#mobile_pin{
  display: none;
  width: 100%;
  margin-bottom: 30px;
}
.content_intro{
  text-align: center;
}
.content_intro h4{
  margin-bottom: 5px;
}
.content_intro p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-style: italic;
}

p {
    margin-bottom: 30px;
    line-height: 30px;
    margin-top: 0px;
}
.contents strong{
    font-style: normal;
    font-weight: 700;
}
.contents li{
  list-style-type: lower-alpha;
  margin-bottom: 10px;
}
.contents ul{
  margin-top: 5px;
}
.design{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
#side_img{
  width: 100%;

}
.questions{
  margin-right: 20%;
}
.questions p{
  margin-bottom: 0px;
  font-size: 16px;
}
.question{
  margin-bottom: 20px;
}

#final_design{
  width: 100%;
  margin-bottom: 40px;

}


.design{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

/* .link{
  color: #7FA6B8;
  position: relative;
  text-decoration: none;
}
.contents a::after {
  position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #7FA6B8;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
} */


@media (max-width: 900px) {
  .contents{
    padding-left: 0px;
    padding-right: 0px;
  }
  #mobile_pin{
    display: block;
  }
  #side_img{
    display: none;
  }
  .design{
    margin-left: 0px;
  }
  .questions{
    margin-right: 0px;
    margin-top: 0px;
  }
  #final_design{
    width:100%;
  }
}
