/*Navigation*/
nav{
  display:block;
  text-align: right;
  margin-right: 10%;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

nav a {
  font-size: 15px;
  color: gray;
  position: relative;
  font-family:'Muli', sans-serif;
  text-decoration: none;
  font-variant: small-caps;
}

nav a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #67979E;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

nav a:hover {
  color: gray;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.current-page{
  color: #363636;
  font-weight: 700;
}

/*Intro*/
.Intro{

}
.intro p{
  font-family:'Muli', sans-serif;
  font-weight:300;
  color:#363636;
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  }
.intro strong{
    font-family:'Muli', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight:300;
    color: #67979E;

  }

h3 {
  font-family:'Muli', sans-serif;
  color:#363636;
  font-size: 16px;
  margin-left: 10%;
  font-weight: 300;
  line-height: 3;
  letter-spacing: 2px;
  display: inline;
  background-image: linear-gradient(
      transparent 50%,
      #67979E 110%,
      transparent 100%
      );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}
