body {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}

.header {
  align-items: center;
  position: relative;
}

.header img {
  display: inline-block;
  float: left;
  width: 50px;
  margin-top: 20px
}

/*Navigation*/
nav {
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

nav a {
  font-size: 15px;
  color: #8f9a9f;
  position: relative;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  font-variant: small-caps;
}

nav a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #769CAE;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

nav a:hover {
  color: gray;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.current-page {
  color: #333333;
  font-weight: 700;
}

/* Project Nav */
.projects_nav{
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.projects_nav a{
  font-size: 15px;
  color: #CCCCCC;
  position: relative;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  letter-spacing:1.5px;
  font-weight: 400;
  line-height: 40px;

}

#current {
  color: #333333 !important;
}

a:hover{
  color: #333333;
}


/* footer */
.fa {
  font-size: 30px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  bottom: 0px;
}

.fa:hover {
  color: gray;
}

.fa-linkedin {
  color: #333333;
}

.fa-facebook {
  color: #333333;
}

.fa-instagram {
  color: #333333;
}

.fa-medium {
  color: #333333;
}

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.top {
  text-align: center;
    margin-top: 30px;
}

.top a {
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  letter-spacing: 0.8px;
  color: gray;
}


#name {
  display: inline;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #363636;
  position: relative;
  margin-bottom: 0px;
  /* letter-spacing: 2px; */
  left: 1px;
  top:-45px;
}


.heading h2 {
  display: inline;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #333333;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 4px;
}

button {
  font-size: 11px;
  letter-spacing: 1.3px;
  font-family: 'Karla', sans-serif;
  background: none;
  border: 1.2px solid #333333;
  color: #333333;
  display: block;
  padding: 8px 20px;
  position: relative;
}

button::before,
button::after {
  background: #333333;
  content: '';
  z-index: -1;
}

button:hover {
  border: 1px solid #808080;
  color: white;
  background: #808080;
  font-weight: bold;
}

.btn {
  overflow: hidden;
}

.link{
  display: inline-block;
}

#mb{
  font-family: 'Karla', sans-serif;
  font-size: 10px;
  color: #808080;
  margin-top: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}


@media (max-width: 900px) {
  body {
    padding-left: 25px;
    padding-right: 25px;
  }

  .header {
    display: flex;
    flex-direction: column;
  }


  #name {
    display: none;
  }

  #chinese {
    display: none;
  }

  nav ul {
    padding-left: 0px;
  }

  button {
    text-align: center;
  }
}
